.webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    z-index: -1;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.centerPosi {
    text-align: center;
    background-color: rgba(196, 150, 238, 0.493);
}

.socialMedia {
    margin-top: 30px;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.font {
    color: blue;
}